<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<persistence version="2.1"-->
             <!--xmlns="http://xmlns.jcp.org/xml/ns/persistence"-->
             <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
             <!--xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">-->
    <!--<persistence-unit name="JPAPersist" transaction-type="RESOURCE_LOCAL">-->
        <!--<class>by.flathumor.entity.User</class>-->
        <!--<class>by.flathumor.entity.Transaction</class>-->
        <!--<properties>-->
            <!--&lt;!&ndash; Configuring The Database Connection Details &ndash;&gt;-->
            <!--<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />-->
            <!--<property name="javax.persistence.jdbc.url" value="jdbc:mysql://195.161.62.202:3306/fuel_prototype?characterEncoding=UTF-8" />-->
            <!--<property name="javax.persistence.jdbc.user" value="fuel_prototype" />-->
            <!--<property name="javax.persistence.jdbc.password" value="@fuel_prototype" />-->
        <!--</properties>-->
    <!--</persistence-unit>-->
<!--</persistence>-->
